/* 
 * Font Custom: bare CSS
 */

@font-face {
  font-family: "fontcustom";
  src: url("fontcustom_a3ae46fa431acca0b812889214e96082.eot");
  src: url("fontcustom_a3ae46fa431acca0b812889214e96082.eot?#iefix") format("embedded-opentype"),
       url("fontcustom_a3ae46fa431acca0b812889214e96082.woff") format("woff"),
       url("fontcustom_a3ae46fa431acca0b812889214e96082.ttf") format("truetype"),
       url("fontcustom_a3ae46fa431acca0b812889214e96082.svg#fontcustom") format("svg");
  font-weight: normal;
  font-style: normal;
}

.icon-alert:before,
.icon-arrow-down-circle:before,
.icon-arrow-down-open:before,
.icon-arrow-down-triangle:before,
.icon-arrow-left-circle:before,
.icon-arrow-left-open:before,
.icon-arrow-left-triangle:before,
.icon-arrow-right-circle:before,
.icon-arrow-right-open:before,
.icon-arrow-right-triangle:before,
.icon-arrow-up-circle:before,
.icon-arrow-up-down:before,
.icon-arrow-up-open:before,
.icon-arrow-up-triangle:before,
.icon-bookmark:before,
.icon-calendar:before,
.icon-car-body:before,
.icon-car-engine:before,
.icon-car-location:before,
.icon-car-type:before,
.icon-chat:before,
.icon-clipboard:before,
.icon-close-circle:before,
.icon-close:before,
.icon-cog:before,
.icon-colour:before,
.icon-comment:before,
.icon-dream-car:before,
.icon-edit:before,
.icon-enquiry:before,
.icon-envelope:before,
.icon-expired-rego:before,
.icon-feed:before,
.icon-filter:before,
.icon-flag:before,
.icon-fuel-efficiency-city:before,
.icon-fuel-efficiency-highway:before,
.icon-fuel:before,
.icon-g-badge:before,
.icon-garage:before,
.icon-grid:before,
.icon-heart:before,
.icon-help:before,
.icon-history:before,
.icon-home:before,
.icon-key:before,
.icon-kilometers:before,
.icon-leaf:before,
.icon-list:before,
.icon-lock:before,
.icon-map-pin:before,
.icon-media-picture:before,
.icon-media-play-circle:before,
.icon-media-play:before,
.icon-media-presentation:before,
.icon-media-video:before,
.icon-menu:before,
.icon-minus-circle:before,
.icon-minus:before,
.icon-newsletter:before,
.icon-newspaper:before,
.icon-paper-plane:before,
.icon-phone:before,
.icon-piggy-bank:before,
.icon-plus-circle:before,
.icon-plus:before,
.icon-price:before,
.icon-print:before,
.icon-reset:before,
.icon-search-cars:before,
.icon-search:before,
.icon-share:before,
.icon-shopping-cart:before,
.icon-size-expand:before,
.icon-size-shrink:before,
.icon-smart-phone:before,
.icon-social-facebook-circle:before,
.icon-social-facebook:before,
.icon-social-gplus-circle:before,
.icon-social-gplus:before,
.icon-social-linkedin-circle:before,
.icon-social-linkedin:before,
.icon-social-pinterest-circle:before,
.icon-social-pinterest:before,
.icon-social-tumblr-circle:before,
.icon-social-tumblr:before,
.icon-social-twitter-circle:before,
.icon-social-twitter:before,
.icon-social-youtube-circle:before,
.icon-social-youtube:before,
.icon-star:before,
.icon-steering-wheel:before,
.icon-tag:before,
.icon-thumbs-down:before,
.icon-thumbs-up:before,
.icon-tick:before,
.icon-tool-box:before,
.icon-tools:before,
.icon-traffic-cone:before,
.icon-transmission:before,
.icon-umbrella:before,
.icon-user-female:before,
.icon-user-group:before,
.icon-user-male:before,
.icon-user-professional:before,
.icon-vehicle-4wd:before,
.icon-vehicle-convertible:before,
.icon-vehicle-coupe:before,
.icon-vehicle-hardtop:before,
.icon-vehicle-hatchback:before,
.icon-vehicle-people-mover:before,
.icon-vehicle-sedan:before,
.icon-vehicle-ute:before,
.icon-vehicle-van:before,
.icon-vehicle-wagon:before,
.icon-warranty:before {
  font-family: "fontcustom";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  text-decoration: inherit;
}

.icon-alert:before { content: "\f100"; }
.icon-arrow-down-circle:before { content: "\f101"; }
.icon-arrow-down-open:before { content: "\f102"; }
.icon-arrow-down-triangle:before { content: "\f103"; }
.icon-arrow-left-circle:before { content: "\f104"; }
.icon-arrow-left-open:before { content: "\f105"; }
.icon-arrow-left-triangle:before { content: "\f106"; }
.icon-arrow-right-circle:before { content: "\f107"; }
.icon-arrow-right-open:before { content: "\f108"; }
.icon-arrow-right-triangle:before { content: "\f109"; }
.icon-arrow-up-circle:before { content: "\f10a"; }
.icon-arrow-up-down:before { content: "\f10b"; }
.icon-arrow-up-open:before { content: "\f10c"; }
.icon-arrow-up-triangle:before { content: "\f10d"; }
.icon-bookmark:before { content: "\f10e"; }
.icon-calendar:before { content: "\f10f"; }
.icon-car-body:before { content: "\f110"; }
.icon-car-engine:before { content: "\f111"; }
.icon-car-location:before { content: "\f112"; }
.icon-car-type:before { content: "\f113"; }
.icon-chat:before { content: "\f114"; }
.icon-clipboard:before { content: "\f115"; }
.icon-close-circle:before { content: "\f116"; }
.icon-close:before { content: "\f117"; }
.icon-cog:before { content: "\f118"; }
.icon-colour:before { content: "\f119"; }
.icon-comment:before { content: "\f11a"; }
.icon-dream-car:before { content: "\f11b"; }
.icon-edit:before { content: "\f11c"; }
.icon-enquiry:before { content: "\f11d"; }
.icon-envelope:before { content: "\f11e"; }
.icon-expired-rego:before { content: "\f11f"; }
.icon-feed:before { content: "\f120"; }
.icon-filter:before { content: "\f121"; }
.icon-flag:before { content: "\f122"; }
.icon-fuel-efficiency-city:before { content: "\f123"; }
.icon-fuel-efficiency-highway:before { content: "\f124"; }
.icon-fuel:before { content: "\f125"; }
.icon-g-badge:before { content: "\f126"; }
.icon-garage:before { content: "\f127"; }
.icon-grid:before { content: "\f128"; }
.icon-heart:before { content: "\f129"; }
.icon-help:before { content: "\f12a"; }
.icon-history:before { content: "\f12b"; }
.icon-home:before { content: "\f12c"; }
.icon-key:before { content: "\f12d"; }
.icon-kilometers:before { content: "\f12e"; }
.icon-leaf:before { content: "\f12f"; }
.icon-list:before { content: "\f130"; }
.icon-lock:before { content: "\f131"; }
.icon-map-pin:before { content: "\f132"; }
.icon-media-picture:before { content: "\f133"; }
.icon-media-play-circle:before { content: "\f134"; }
.icon-media-play:before { content: "\f135"; }
.icon-media-presentation:before { content: "\f136"; }
.icon-media-video:before { content: "\f137"; }
.icon-menu:before { content: "\f138"; }
.icon-minus-circle:before { content: "\f139"; }
.icon-minus:before { content: "\f13a"; }
.icon-newsletter:before { content: "\f13b"; }
.icon-newspaper:before { content: "\f13c"; }
.icon-paper-plane:before { content: "\f13d"; }
.icon-phone:before { content: "\f13e"; }
.icon-piggy-bank:before { content: "\f13f"; }
.icon-plus-circle:before { content: "\f140"; }
.icon-plus:before { content: "\f141"; }
.icon-price:before { content: "\f142"; }
.icon-print:before { content: "\f143"; }
.icon-reset:before { content: "\f144"; }
.icon-search-cars:before { content: "\f145"; }
.icon-search:before { content: "\f146"; }
.icon-share:before { content: "\f147"; }
.icon-shopping-cart:before { content: "\f148"; }
.icon-size-expand:before { content: "\f149"; }
.icon-size-shrink:before { content: "\f14a"; }
.icon-smart-phone:before { content: "\f14b"; }
.icon-social-facebook-circle:before { content: "\f14c"; }
.icon-social-facebook:before { content: "\f14d"; }
.icon-social-gplus-circle:before { content: "\f14e"; }
.icon-social-gplus:before { content: "\f14f"; }
.icon-social-linkedin-circle:before { content: "\f150"; }
.icon-social-linkedin:before { content: "\f151"; }
.icon-social-pinterest-circle:before { content: "\f152"; }
.icon-social-pinterest:before { content: "\f153"; }
.icon-social-tumblr-circle:before { content: "\f154"; }
.icon-social-tumblr:before { content: "\f155"; }
.icon-social-twitter-circle:before { content: "\f156"; }
.icon-social-twitter:before { content: "\f157"; }
.icon-social-youtube-circle:before { content: "\f158"; }
.icon-social-youtube:before { content: "\f159"; }
.icon-star:before { content: "\f15a"; }
.icon-steering-wheel:before { content: "\f15b"; }
.icon-tag:before { content: "\f15c"; }
.icon-thumbs-down:before { content: "\f15d"; }
.icon-thumbs-up:before { content: "\f15e"; }
.icon-tick:before { content: "\f15f"; }
.icon-tool-box:before { content: "\f160"; }
.icon-tools:before { content: "\f161"; }
.icon-traffic-cone:before { content: "\f162"; }
.icon-transmission:before { content: "\f163"; }
.icon-umbrella:before { content: "\f164"; }
.icon-user-female:before { content: "\f165"; }
.icon-user-group:before { content: "\f166"; }
.icon-user-male:before { content: "\f167"; }
.icon-user-professional:before { content: "\f168"; }
.icon-vehicle-4wd:before { content: "\f169"; }
.icon-vehicle-convertible:before { content: "\f16a"; }
.icon-vehicle-coupe:before { content: "\f16b"; }
.icon-vehicle-hardtop:before { content: "\f16c"; }
.icon-vehicle-hatchback:before { content: "\f16d"; }
.icon-vehicle-people-mover:before { content: "\f16e"; }
.icon-vehicle-sedan:before { content: "\f16f"; }
.icon-vehicle-ute:before { content: "\f170"; }
.icon-vehicle-van:before { content: "\f171"; }
.icon-vehicle-wagon:before { content: "\f172"; }
.icon-warranty:before { content: "\f173"; }
